.proyects-wrapper {
  display: grid;
  /* La primera fila tendra dos columnas y la segunda 3 */
  grid-template-columns: 1fr 1fr;
  /* El espacio entre las columnas */
  grid-gap: 16px;
  /* El espacio entre las filas */
  grid-row-gap: 16px;
}

.proyect-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  text-align: center;
}

.proyect-card img {
  max-width: 100%;
  border-radius: 4px;
  margin-bottom: 8px;
}

.proyect-card a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-top: 8px;
}

.macs {
  width: 30%;
}
