/* Agrega o modifica esto en tu archivo home.css */

.main-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
    background-color: #171717;
    
  }
  
  .main-title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; /* Alinea verticalmente el texto y las palabras animadas */
    font-size: 8vw;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #fbfbfb;
    padding-right: 20vw;
    padding-left: 8vw;
    background-color: #393939;
    border-radius: 2rem;
    position: relative; /* Establece una posición relativa */
  }
  
  /* Si deseas aplicar el efecto de cambio de color a "garc" y "Dev" */
  .content {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(30%, -50%);
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    line-height: 8vw;
    color: #ecf0f1;
  }
  
  .content__container {
    font-weight: 500;
    overflow: hidden;
    height: 8vw;
    padding: 0 4vw;
    position: relative;
    font-size: 8vw;
  }
  
  .content__container__list {
    font-weight: 620;
    padding-left: 0;
    text-align: left;
    list-style: none;
    animation: change 10s infinite;
  }
  

  
  @keyframes change {
    50% { transform: translate3d(0, 200vw, 0); }
    50% { transform: translate3d(0, -16vw, 0); }
  }
  
  /* La parte responsive */
  @media screen and (max-width: 768px) {
    .main-title-container {
      display: grid;
      justify-content: start;
    }
    .main-title {
      font-size: 14vw;
      padding-right: 20vw;
      padding-left: 1vw;
      margin: 0;
    }
    .content {
      top: 50%;
      left: 90%;
      transform: translate(-50%, -50%);
    } 
    .content__container {
      font-size: 14vw;
      line-height: 8vw;
    }
    
  }