* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

.main-background {
    background-color:#111;
}
/* #main-background {
    background-color:#111;
    color: white;
} */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}